@font-face {
	font-family: "Poor Richard";
	src: url("../fonts/poor_richard.TTF") format("truetype");
}

h1,h2,h3,h4,h5,h6{
	font-family: $heading-font-family;
	margin-top: 1em;
	margin-bottom:.85em;
}

h1{
	font-size: 3em;
}

h2{
	font-size: 2.5em;
}
h3{
	font-size: 2em;
}
h4{
	font-size: 1.5em;
}
h5{
	font-size: 1em;
}
h6{
	font-size: .85em;
}

p, ul, li, a{
	font-size: 1.125em;
	font-family: $paragraph-font-family;
	line-height:1.7;
}