//fonts
$poor-richard: "Poor Richard", serif;
$stint: 'Stint Ultra Expanded', cursive;
$pontano: 'Pontano Sans', sans-serif;

$paragraph-font-family: $pontano;
$heading-font-family: $stint;
$logo-font-family: $poor-richard;

//colors 
$dark-gray: #222;
$darker-gray: #070707;

//sizes 
$section-padding: 4rem;