.age-restriction{
    .age-gate-wrapper{
        background: rgba(0,0,0,.95);
        .age-gate-logo{
            line-height:0;
            margin-bottom:0;
            img{
                max-width:70vw;
                max-height: 50vh;
            }
        }
        .age-gate-challenge{
            font-family: $stint;
            margin-top: 1em;
            margin-bottom: 1em;
        }
        button{
            @extend .button;
            cursor:pointer;
            background: transparent;
            padding: 1em 2em;
            margin-bottom:0;
            & + button{
                margin-left: 1em;
            }
        }
    }
}